<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305810559157-593l1nkl7i9m866vmnqr877arumn3ohd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305810559157-593l1nkl7i9m866vmnqr877arumn3ohd</string>
	<key>API_KEY</key>
	<string>AIzaSyD79NvB880CCKZU-9Yp-HoB9Ol1k1TSnC8</string>
	<key>GCM_SENDER_ID</key>
	<string>305810559157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ernest.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-dev-23a28</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-dev-23a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305810559157:ios:deb8c974338c947f</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-dev-23a28.firebaseio.com</string>
</dict>
</plist>